@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

/* ### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%) */


body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    /* width: 100%;
    height: 100vh; */
}

.card {
    
    width: 600px;
    height: 600px;
    /* border: solid 0.5px rgba(0,0,0,0.2); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100vw;*/
    height: 100%; 
}

.bottom-row {
    display: flex;
}

.column-left {
    width: 100%;
    background-color: hsl(179, 62%, 43%);
    color: white;
    /* padding: 2.5em; */
}

.column-right {
    width: 100%;
    background-color: rgb(74, 190, 189);
    color: white;
    /* padding: 2.5em; */
}

.container {
    padding-left: 5em;
    padding-right: 5em;
    margin-right: auto;
    margin-left: auto;
    /* width: 1170px; */
    /* width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
}

.primary {
    color: hsl(179, 62%, 43%);
}

.secondary {
    color: hsl(71, 73%, 54%);
}

.text-muted {
    color: hsl(218, 22%, 67%) ;
}

.text-muted2 {
    color: hsl(204, 43%, 93%);
}

.text-small {
    font-size: 0.6em;
}

button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}