@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

/* ### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%) */


body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: hsl(204, 43%, 93%);
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;*/
    height: 100vh; 
}

.card {  
    border-radius: 8px;
    width: 50em;
    /* height: 600px; */
    /* border: solid 0.5px rgba(0,0,0,0.2); */
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.2)
}

.grid {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* width: 100vw;*/
    height: 100%; 
}

.top-row {
    height: 45%;
}

.bottom-row {
    display: flex;
    height: 55%;
}

.column-left {
    height: 100%;
    width: 100%;
    background-color: hsl(179, 62%, 43%);
    color: white;
    /* padding: 2.5em; */
    border-bottom-left-radius: 8px;
    /* display: flex;  */
    /* align-items: center; */
}

.column-right {
    height: 100%;
    width: 100%;
    background-color: rgb(74, 190, 189);
    color: white;
    /* padding: 2.5em; */
    border-bottom-right-radius: 8px;
}

.container {
    height: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    padding-top: 2rem;
    padding-left: 4.3rem;
    padding-right: 4.3rem;
    padding-bottom: 2rem;
    /* height: 90%; */
    /* margin-right: auto;
    margin-left: auto; */
    /* width: 1170px; */
    /* width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
}

.primary {
    color: hsl(179, 62%, 43%);
}

.secondary {
    color: hsl(71, 73%, 54%);
}

.text-muted {
    color: hsl(218, 22%, 67%) ;
    line-height: 1.5em;
}

.text-muted2 {
    color: hsl(204, 43%, 93%);
    line-height: 1.5em;
}

.text-muted3 {
    color: #6AD3D4;
}

.text-small {
    font-size: 0.6em;
}

.highlight {
    font-size: 2.25em;
}

.button {
    background-color: hsl(71, 73%, 54%);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

p {
    font-size: 1.2em;
}

.font-bigger {
    font-size: 1.25em;
}